<div class="container">
    <div class="row">
        <div class="col">
            <h5>Ventas</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Paragolpe</td>
                    <td>Fiat</td>
                    <td>2</td>
                    <td>3.500,00</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Farol</td>
                    <td>Fiat</td>
                    <td>1</td>
                    <td>2.800,00</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Parabrisas</td>
                    <td>Fiat</td>
                    <td>1</td>
                    <td>5.00,00</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>